.yellowBg {
	background-color: #F7BC2A
}

.yellowText {
	color: #F7BC2A;
}

.blackBg {
	background-color: #000
}

.blackText {
	color: #000
}

.whiteText {
	color: #fff
}

section {
	padding: 60px 0;
}

.mobile-menu-wrapper label,
.mobile-menu-container .social-icon {
	color: #fff;
}

.patternBgTop,
.patternBgTopReverse {
	background-image: url(../images/new/bg-top-element.png), url(../images/new/bg-bottom-element.png);
	background-repeat: no-repeat;
	background-position: top left, bottom right;
	background-size: 400px;
}

.patternBgTopReverse {
	background-image: url(../images/new/bg-top-right-element.png), url(../images/new/bg-bottom-left-element);
	background-position: top right, bottom left;
}

.product-journey-bg .centerImgText {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.centerImgText p {
	color: #000;
}

.fintessBox {
	background-color: #000;
	-webkit-transition: all 0.2s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.fintessBox img {
	-webkit-filter: invert(2) grayscale(100%);
	filter: invert(2) grayscale(100%);
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.commonImgTextBox .knowMore {
	bottom: -30px;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	cursor: pointer;
}

.knowMore:hover a {
	color: #fff;
}

.commonImgTextBox:hover .knowMore {
	bottom: 0
}

.commonImgTextBox:hover .centerImgText {
	opacity: 1;
}

.fintessBox:hover img {
	-webkit-filter: none;
	filter: none;
}

.fintessBox:hover {
	background-color: #FFF2D1;
}

.bestSellerWrapper .owl-carousel .owl-stage-outer {
	padding: 20px 0;
}

.reconstructSection,
.loyaltyProgram,
.productJourneyBox,
.signupPatch,
.prductUserbg,
.keyFacts {
	background-image: url(../images/new/homepage/product-journey-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.productJourney .heading p {
	color: #fff;
}

.productJourneyBox {
	position: relative;
	padding: 200px 0 50px;
}

.productJourneyBox:nth-child(1) {
	background-image: url(../images/new/homepage/journey-1.png);
}

.productJourneyBox:nth-child(2) {
	background-image: url(../images/new/homepage/journey-2.png);
}

.productJourneyBox:nth-child(3) {
	background-image: url(../images/new/homepage/journey-3.png);
}

.productJourneyBox:nth-child(4) {
	background-image: url(../images/new/homepage/journey-4.png);
}

.productJourneyBox img {
	width: 180px;
	position: relative;
	z-index: 2;
}

.productJourneyBox h4 {
	color: #fff;
	font-size: 30px;
	position: relative;
	z-index: 2;
}

.productJourneyBox:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.productJourneyBox + .productJourneyBox:after {
	content: '';
	position: absolute;
	top: auto;
	width: 120px;
	height: 100px;
	background-image: url(../images/new/homepage/journeyArrow.png);
	background-repeat: no-repeat;
	background-size: 91px;
	left: -15%;
	bottom: 14%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.reconstructSection {
	background-image: url(../images/new/homepage/reconstructBanner.png);
}

.reconstructContentHeading h3 {
	margin-bottom: 0;
	font-size: 4.5rem;
}

.reconstructContentHeading h2 {
	font-size: 7rem;
	margin: 0;
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: 2px solid #fff;
}

.reconstructContent p {
	margin-top: 20px;
	font-size: 1.8rem;
	color: #000;
}

.reconstructContent .knowMoreButton a,
.commonButton,
.commonButton-yellow {
	font-weight: 700;
	background-color: #333333;
	color: #fff;
	border: 1px solid #333333;
	padding: 6px 14px;
	text-transform: uppercase;
	font-size: 18px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin-top: 20px;
	display: inline-block;
	cursor: pointer;
	line-height: 1.2;
}

.commonButton-yellow {
	background-color: #F7BC2A;
	border: 1px solid #F7BC2A;
	color: #333333;
}

.reconstructContent .knowMoreButton a:hover,
.commonButton:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #333333;
}

.commonButton-yellow:hover {
	background-color: #333333;
	border: 1px solid #333333;
	color: #F7BC2A;
}

.categorySlider .knowMore {
	background-color: #333333;
	color: #fff;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.categorySlider .cat-slide:hover .knowMore {
	background-color: #F7BC2A;
	color: #000;
}

.authenticateAvatar .heading {
	width: 90%;
	top: 10%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.loyaltyProgram {
	background-image: url(../images/new/homepage/loyaltybg.png);
	padding: 20px 0;
}

.loyaltyProgram.authectiatePage {
	background-image: url(../images/new/homepage/loyaltybg-white.png);
}

.blackPatch {
	background-color: #333;
	padding: 5px 20px;
}

.blogCardContent h2 {
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 5px !important;
}

.blogCardContent p {
	line-height: 1.4;
}

.blogCardContent h2,
.blogCardContent p {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.blogCardContent .commonButton-yellow {
	padding: 0.3rem 1.6rem;
	font-size: 14px;
	max-width: -webkit-max-content;
	max-width: -moz-max-content;
	max-width: max-content;
}

.educateSection {
	background-image: url(../images/new/homepage/eductaeBg.png);
}

.educateSection .reconstructContentHeading h2 {
	font-size: 4rem;
}

.educateSection .reconstructContent p {
	color: #fff
}

.productJourney .heading {
	width: 90%;
	top: 10%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 2;
}

.signupPatch {
	background-image: url(../images/new/homepage/signupPatchBg.png);
}

.signupPatch input {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #000;
	border-radius: 0;
	color: #000;
	text-align: center;
	font-size: 18px;
}

.signupPatch input::-webkit-input-placeholder {
	color: #000 !important;
}

.signupPatch input:-ms-input-placeholder {
	color: #000 !important;
}

.signupPatch input::placeholder {
	color: #000 !important;
}

.productUsers {
	background-image: url(../images/new/about/prductUserbg.png);
	padding: 40px 0;
}

.aboutAvvatarBox p {
	font-weight: 500;
	color: #000;
}

.aboutParafFood.patternBgTop,
.goodnessAvvatar.patternBgTop {
	background-image: url(../images/new/bg-bottom-left-element.png), url(../images/new/bg-top-right-element.png);
	background-position: bottom left, top right;
	background-size: 300px;
}



.aboutParafFood.patternBgPageTop {
	background-image: url(../images/new/bg-top-right-element.png);
	background-position: top right;
	background-size: 300px;
	background-repeat: no-repeat;
}

/*
.patternBgTopRight {
	background-image: url(../images/new/bg-top-element.png), url(../images/new/bg-bottom-element.png);
	background-repeat: no-repeat;
	background-position: top left, bottom right;
	background-size: 400px;
}
*/

.aboutFounderBox {
	padding: 50px 50px;
}

.aboutFounderBox .heading .line {
	width: 150px;
	display: inline-block;
	height: 2px;
	background-color: #F7BC2A;
}

.aboutContent h3 {
	margin-bottom: 10px;
	font-size: 21px;
}

.video-container {
	width: 100%;
	border-radius: 0;
	margin: 0 auto;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-shadow: 0px 8px 20px rgba(black, 0.4);
	box-shadow: 0px 8px 20px rgba(black, 0.4);
	overflow: hidden;
}

video {
	width: 100%;
	height: 100%;
	border-radius: 0px;
}

.bannerVideoHome {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

.videoContent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: auto;
	pointer-events: none;
	padding-left: 30px;
}

.videoContent h3 {
	font-size: 30px;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
}

.videoContent h2 {
	padding-bottom: 10px;
	position: relative;
	font-size: 70px;
	letter-spacing: 1px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	color: #fff;
	text-transform: uppercase;
}

.videoContent h2:after {
	content: '';
	width: 100%;
	background-color: #F7BC2A;
	left: 0;
	bottom: 0;
	position: absolute;
	height: 2px;
}

.videoContent p {
	color: #fff;
}

#circle-play-b {
	cursor: pointer;
	pointer-events: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

svg,
.svgIconImg img {
	width: 75px;
	height: 75px;
	fill: #fff;
	stroke: #fff;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	opacity: 0.9;
}

.svgIcon:before {
	content: "";
	display: block;
	width: 140px;
	height: 2px;
	background-color: #fff;
}

.svgIcon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
}

.svgIconImg {
	position: relative;
	z-index: 9
}

.svgIconImg:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #F7BC2A;
	border-radius: 50%;
	-webkit-animation: pulse-border 1500ms ease-out infinite;
	animation: pulse-border 1500ms ease-out infinite;
}

@-webkit-keyframes pulse-border {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

@keyframes pulse-border {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

.homeBannerSection .video-container {
	height: calc(100vh - 143px);
}

.homeBannerSection .videoContent h3 {
	font-size: 50px;
}

.homeBannerSection .videoContent h2 {
	font-size: 65px;
	font-weight: 700;
}

.homeBannerSection .videoContent p {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 30px;
}

.homeBannerSection .videoContent {
	position: relative;
	padding: 0;
}

.homeBannerSection svg {
	fill: #F7BC2A
}

.brandPillarsBox .brandPillars .brandPillarsContent {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.brandPillarsContent p {
	font-size: 24px;
	line-height: 1.2;
}

.patternBrand {
	background-image: url(../images/new/bg-bottom-left-element.png);
	background-position: bottom left;
	background-size: 300px;
	background-repeat: no-repeat;
}

.keyFacts {
	background-image: url(../images/new/about/keyFactBg.png);
}

.keyFactsBox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.keyFactsBox h3 {
	background-image: url(../images/new/about/textLayer.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	font-size: 34px;
	gap: 5px;
}

.keyFactsBox h3 span {
	font-size: 50px;
}

.keyFactsBox p {
	line-height: 1.2;
	font-size: 20px;
}

span.sr-only {
	display: none;
}

.mobile-menu-toggler {
	color: #000;
	margin-left: 0;
}

.policy-terms p {
	font-size: 16px;
	padding: 10px 0 0 0;
	margin: 5px 0 0 0;
	line-height: 21px;
}

.policy-terms ul {
	margin: 0;
	padding: 0 0 0 15px;
	list-style-type: disc;
}

.policy-terms li {
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 14px;
	color: #000;
	font-weight: 400;
}

.policy-terms li::marker {
	color: #F7BC2A !important;
}

.brandAdvantageBox {
	gap: 10px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}


.brandAdvantage h3 {
	font-size: 20px;
	margin: 10px 0 0;
	line-height: 1.4;
	font-weight: 500;
}

.footer-payments .footer-copyright {
	text-align: right;
}

.faqBox:nth-child(n+2) {
	margin-top: 50px;
}

.accordion-button {
	font-size: 18px;
	font-weight: 600;
	padding: 15px 15px;
}

.accordion-button:focus {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.accordion-body {
	font-size: 16px;
	padding-left: 0;
	padding-right: 0;
}

.accordion-flush .accordion-collapse {
	border-top: 1px solid #dee2e6;
}

.accordion-button:not(.collapsed) {
	color: #000;
	background-color: #f7bc2a;
}

.accordion-button:not(.collapsed)::after {
	-webkit-filter: invert(1) brightness(0);
	filter: invert(1) brightness(0);
}

.accordion-body {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fafafa;
}

.accordion-body p + p {
	margin-top: 10px;
}

.contactUsForm form {
	margin-top: 30px;
}

.contactUsForm input.form-control {
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #333;
}

.contactUsForm textarea.form-control {
	border-color: #333;
}

.contactPatch {
	background-color: #333;
}

.contactPatchBox h3 {
	border-bottom: 1px solid #333;
	font-weight: 700;
	font-size: 24px;
}

.contactPatchBox p {
	margin-bottom: 0;
	margin-top: 10px;
}

.addressBox {
	margin-top: 30px;
}

.addressBox h3 {
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
	font-size: 26px;
	font-weight: 700;
}

.addressContact {
	margin-top: 10px;
}

.owl-simple .owl-nav [class*='owl-'] {
	width: 25px;
	height: 25px;
	margin: 0;
	margin-top: auto;
	color: #000;
	font-size: 20px;
	background: #F7BC2A;
	border-radius: 0;
}

.owl-simple .owl-nav .owl-prev {
	left: 0;
}

.owl-simple .owl-nav .owl-next {
	right: 0;
}

.goodnessAvatarBox {
	padding: 10px 10px;
}

.goodnessAvatarBox h3 {
	font-size: 18px;
	line-height: 1.2;
}

.instaFeedBox:nth-child(n+5) {
	margin-top: 30px;
}

.uniqCode h3 {}

.otpInputBoxes input {
	width: 50px;
	height: 50px;
	border: 0;
	color: #000;
	border-bottom: 1px solid #000;
	padding: 10px;
	text-align: center;
}

.imgBoxWrapper h3 {
	font-size: 24px;
	text-transform: uppercase;
}

.imgBoxWrapper p {
	font-size: 18px;
}

.input-group-text,
.authenticateProductForm select {
	font-size: 16px;
}

.table-cart .product-media > a {
	display: block;
	background-color: #fff;
	padding: 0;
}

.table-cart .product {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-right: 0;
	margin-bottom: 0;
}

.table-cart .product-media img {
	max-width: 100px;
}

.table-cart th {
	font-weight: 700;
	color: #000;
}

.table-cart th.productImg {
	width: 115px;
}

.table-cart th.productName {
	width: 350px;
}

.table-cart th:last-child {
	width: 120px;
}

.table-cart .product-col .product-media {
	max-width: none;
	border: 1px solid #bcbcbc;
	margin: 10px 0;
	background-color: transparent;
}

.table-cart td {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 1px solid #bcbcbc;
}

.e-pro-qty-block .input-number-increment,
.e-pro-qty-block .input-number {
	border-radius: 0;
}

.e-pro-qty-block .input-number-increment {
	padding: 6px 10px 6px;
}

.e-pro-qty-block .input-number {
	padding-left: 0;
}

.cartBlockGroup .btn-remove {
	height: auto;
	border-radius: 50%;
	width: auto;
	font-size: 10px;
	font-weight: 700;
	color: red;
}

.table .total-col {
	color: #000;
	font-weight: 700;
}

.table.table-summary .summary-total td {
	color: #000;
}

.summary .commonButton-yellow {
	display: block;
}

.cart-discount .btn {
	min-width: 40px;
	padding-left: 1.8rem;
	padding-right: 1.8rem;
}

.cart-discount h3 {
	font-size: 16px;
}

.cart-discount {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 100%;
}

.cart-discount .icon-arrow-left {
	padding: 5px;
	background-color: #f7bc2a;
	border-radius: 50%;
	margin-right: 5px;
}

.summary.summary-cart {
	margin-bottom: 3rem;
	background-color: transparent;
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

.summary .btn {
	font-size: 14px;
}

.cartBlock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 0;
}

.cartBlock + .cartBlock {
	border-top: 1px solid #bcbcbc;
}

.cartBlock:nth-child(1) {
	border-top: 0;
}

.cartBlockOne {
	min-width: 115px;
}

.cartBlockGroup {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 15px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 700;
	color: #000;
}

.cartBlockTwo {
	width: 42%;
}

.cartBlockThree {
	width: 12%;
}

.cartBlockFour {
	width: 15%;
}

.cartBlockFive {
	width: 9%;
}

.cartBlockSix {
	width: 12%;
}

.table-cart {
	margin-bottom: 50px;
}

.checkoutSummary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 0;
}

.checkoutSummary img {
	width: 85px;
	border: 1px solid #bcbcbc;
}

.checkoutSummary a {
	color: #000;
	font-weight: 400;
	font-size: 14px;
}

.summary {
	border: 0;
	padding: 0;
	background-color: transparent;
}

.form-control {
	color: #000;
	font-weight: 400;
}

.labelWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
}

.labelWrapper span.labelText {
	margin-right: 15px;
	font-weight: 700;
	color: #000;
}

.radioBoxes .radio {
	margin-bottom: 10px;
}

.radioBoxes .radio + .radio {
	margin-left: 10px;
}

.product-details-quantity .input-group > .form-control {
	width: 75px;
	min-width: 60px;
	border: 1px solid #000;
}

.cat-ovarlay {
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	display: none;
}

.cat-ovarlay span {
	position: relative;
	z-index: 2;
	font-size: 14px;
}

.cat-slide:hover .cat-ovarlay {
	display: block;
}

.mediaTabs li {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.mediaTabs .nav.nav-tabs li .nav-link {
	width: 100%;
	color: #000;
	font-size: 22px;
	font-weight: 400;
	border: 0;
}

.nav.nav-tabs .nav-item .nav-link.active {
	color: #000;
	font-weight: 700;
	border: 0;
	border-bottom: 3px solid #F7BC2A;
}

.mediaTabs .tab-pane {
	padding-left: 0;
	padding-right: 0;
}

.blogCardDetail .blogCardContent h2,
.blogCardDetail .blogCardContent p {
	display: block !important;
}

.blogCardDetail .blogCardContent h2 {
	font-size: 26px;
	line-height: 1.2;
	margin-bottom: 10px !important;
}

.blogCardDetail .blogCardContent p {
	font-size: 16px;
	color: #3f3f3f;
	font-weight: 400;
}

.blogCardDetail img {
	height: 400px;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.blogAuthor img {
	height: auto;
}

.blogCardDetail .blogCardContent {
	max-height: none;
	height: auto;
}

.blogAuthor {
	padding: 10px 10px;
	background-color: #f4f5f8;
}

.blogAuthor h5 {
	margin-bottom: 5px;
	font-weight: 700;
}

.blogAuthor p {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.blogAuthor img {
	width: 100px;
	height: 100px;
}

.blogAuthor h6 {
	margin-bottom: 5px;
}

.pagination li:nth-child(1) span,
.pagination li:last-child a {
	font-size: 30px;
}

.blogHeaderImgBox {
	position: relative;
}

.blogHeaderImgBox h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	pointer-events: none;
	font-size: 1.4em !important;
	font-weight: 600;
}

.blogCardContent p {
	margin-bottom: 10px;
}

.date {
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

.popularBlogsWrapper .blogCard + .blogCard {
	margin-top: 30px;
}

.chooseFlavourWrapper,
.checkDelivery {
	margin-bottom: 20px;
}

.chooseFlavourBtns .btn {
	border: 1px solid #000;
	color: #000;
	outline: none;
	background-color: #fff;
	border-radius: 2px;
	padding: 6px 8px;
	min-width: 23%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 700;
	font-size: 12px;
}

.chooseFlavourBtns .btn.oos,
.chooseFlavourBtns .btn.oos.active {
	opacity: 0.6;
	border-style: dotted;
	background-color: #fff;
	border: 1px solid #000;
}

.chooseFlavourBtns .btn.active {
	background-color: #f7bc2a;
	border-color: #f7bc2a;

}

.weight-conversion-btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.weight-conversion-btns .weight-conversion-btns_btn {
	width: 50px;
	height: 27px;
	border: 1px solid #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: dinbold;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0;
	color: #000;
	cursor: pointer;
}

.weight-conversion-btns .weight-conversion-btns_btn:nth-child(2) {
	border-left: 0;
}

.weight-conversion-btns .weight-conversion-btns_btn.active {
	background-color: #f7bc2a;
	color: #000;
}

.productDescription h3 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 700;
}

.productDescription p {
	margin-bottom: 0;
	font-size: 16px;
}

.productProteinLevel {
	gap: 20px;
}

.proteinLevelBox {
	min-width: 18%;
	width: 18%;
}

.proteinLevelBox h3 {
	margin-bottom: 10px;
	font-size: 46px;
	font-weight: 700;
}

.proteinLevelBox h4 {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 2px solid #f3b92a;
	padding-bottom: 5px;
}

.proteinLevelBox p {
	line-height: 1.2;
}

.productFaq h3 {
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 18px;
}

.productFaq h3:nth-child(n+2) {
	margin-top: 30px;
}

.productFaq p {
	line-height: 1.4;
}

.product-price-box {
	font-size: 20px;
	color: #333333;
	font-weight: 700;
}


.star-rating {
	border: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 24px;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 0;
	text-align: center;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	gap: 5px;
}

.star-rating input {
	display: none;
}

.star-rating label {
	color: #ccc;
	cursor: pointer;
	line-height: 1.2;
	margin: 0;
	font-size: 24px;
}

.star-rating :checked ~ label {
	color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
	color: #fc0;
}

.basedOnReviews {
	margin-left: 5px;
}

.checkDelivery .form-control {
	padding: .85rem 1rem;
	color: #000;
	border: 1px solid #d3cdcd;
}

.checkDelivery .btn {
	padding-top: 0;
	padding-bottom: 0;
	white-space: nowrap;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	line-height: 1;
	color: #000;
	border: 1px solid #f7bc2a;
	padding: 1.2rem 2.5rem;
	background-color: #f7bc2a;
	min-width: inherit;
	font-weight: 700;
}

.productReviewContentBox {
	background: #F5F7F6;
	color: #333;
	display: inline-block;
	font-size: 14px;
	/* line-height: 4em; */
	/* margin-bottom: 1em; */
	padding: 15px;
	position: relative;
	text-align: left;
	vertical-align: top;
	min-width: 7em;
	gap: 20px;
}

.productReviewContentBox:after {
	border: 1em solid transparent;
	border-right-color: #F5F7F6;
	content: '';
	margin-left: -1em;
	position: absolute;
	top: 50%;
	left: -13px;
	width: 0;
	height: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.productReviewBox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 40px;
	margin-top: 30px;
}

.productReviewUserImg img {
	min-width: 100px;
}

.productReviewUserImg {
	min-width: 100px;
}

.productReviewUser h4 {
	font-size: 18px;
	margin-bottom: 10px;
}

.productReviewUser p {
	line-height: 1.2;
}

.productReviewContent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.whyAvvatarBox {
	background-color: #FFF2D0;
	border: 2px solid #F7BC2A;
	padding: 170px 0px 15px;
	margin-top: -100px;
}

.whyAvvatarBoxImg img {
	width: 200px;
}

.whyAvvatarBoxHeading {
	background-color: #F7BC2A;
	padding: 10px 5px;
}

.whyAvvatarBoxHeading h3 {
	font-weight: 700;
	font-size: 24px;
}

.whyAvvatarBoxContent ul {
	list-style-type: disc;
	margin: 15px 0 0 15px;
	padding: 0 15px;
}

.whyAvvatarBoxContent ul li {
	color: #000;
}

.whyAvvatarBoxContent ul li::marker {
	color: #F7BC2A;
}

.whyAvvatarBoxContent ul li + li {
	margin-top: 10px;
}

.makingAvvatar .col-md-5:nth-child(2),
.makingAvvatar .col-md-5:nth-child(4) {
	margin-top: 200px;
}

.makingAvvatar .col-md-5:nth-child(3) {
	margin-top: -65px;
}

.header-center .dropdown-item:focus,
.header-center .dropdown-item:hover {
	color: #f7bc2a;
	background-color: #333;
}

.orderCompleteThankYou img {
	width: 200px;
	max-width: 200px;
	margin-bottom: 30px;
}

.orderDataBox {
	padding: 15px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .099) !important;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .099) !important;
}

.orderDataBox + .orderDataBox {
	margin-top: 30px;
}

.orderDetail {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	padding: 0 15px;
}

.orderImg {
	min-width: 100px;
	max-width: 100px;
}

.orderVariant {
	line-height: 1.2;
}

.orderVariant + .orderVariant {
	padding-left: 5px;
	margin-left: 5px;
	border-left: 1px solid #000;
}

.orderVariant p {
	line-height: 1.2;
}

.orderVariant .badge {
	padding: 4px 10px;
	font-size: 14px;
	background-color: #388E3C !important;
}

.orderName h5 {
	font-size: 15px;
}

.orderPrice h5 {
	font-size: 24px
}

.orderPrice h5 .mrp {
	font-size: 18px;
}

.card.addressCardsWrapper {
	border: 0;
}

.addressCardsWrapper .col-md-6:nth-child(n + 3) {
	margin-top: 30px;
}

.addressBlock {
	min-height: 107px;
}

.addressCardBox {
	padding: 15px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .099) !important;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .099) !important;
}

.addressAction .dropdown-toggle::after {
	display: none;
}

.addressType {
	font-size: 16px;
	font-weight: 500;
}

.addressAction .dropdown-menu {
	padding: 0;
	right: 0 !important;
	left: auto !important;
}

.addressAction .btn-link {
	width: 100%;
	text-align: left;
	padding: 6px 15px;
}

.addressContact p {
	line-height: 1.2;
}

.addressContact .icon {
	width: 20px;
	height: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f7bc2a;
	color: #000;
	margin-right: 4px;
	border-radius: 50%;
}
